In [ ]:
!pip install redshift_connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redshift_connector in /usr/local/lib/python3.8/dist-packages (2.0.909)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (1.26.35)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (21.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (2022.6)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (2.23.0)
Requirement already satisfied: lxml>=4.6.5 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (57.4.0)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /usr/local/lib/python3.8/dist-packages (from redshift_connector) (1.29.35)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.2.post1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.8/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.8/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.25.11)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.0.4)
Requirement already satisfied: asn1crypto>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->redshift_connector) (3.0.9)

In [ ]:
import boto3
import pandas as pd
from io import StringIO
import time
import redshift_connector

In [ ]:
region_name = 'us-east-1'
aws_access_key_id = "AKIATCUJM2XSK4ZW2FWH"
aws_secret_access_key = "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"
schema_name="covid_19"
s3_staging_dir="s3://covid19-project-test/Unsaved"
s3_bucket_name="covid19-project-test"
s3_output_directory ="Unsaved"

In [ ]:
athena_client= boto3.client(
 'athena', 
  region_name = region_name, 
  aws_access_key_id = aws_access_key_id,
  aws_secret_access_key= aws_secret_access_key,
  )

In [ ]:
Dict ={}
def download_and_load_query_results(
   client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
              QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str="athena_query_results.csv"
    s3_client=boto3.client(
    "s3", 
    region_name = region_name, 
    aws_access_key_id = aws_access_key_id,
    aws_secret_access_key= aws_secret_access_key, 
    )
    s3_client.download_file(
    s3_bucket_name,
    f"{s3_output_directory}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [ ]:
response=athena_client.start_query_execution(
QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
enigma_jhud=download_and_load_query_results(athena_client,response)


# In[7]:


enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [ ]:
response=athena_client.start_query_execution(
QueryString="SELECT * FROM rearc_covid19_testing_data_states_daily",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
rearc_covid19_testing_data_states_daily=download_and_load_query_results(athena_client,response)


# In[9]:


rearc_covid19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM nytimes_data_in_us_county",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
nytimes_data_in_us_county =download_and_load_query_results(athena_client,response)


# In[11]:


nytimes_data_in_us_county.head()

         date          county     state     fips  cases  deaths
0  2020-03-22     St. Charles  Missouri  29183.0    3.0     0.0
1  2020-03-22       St. Louis  Missouri  29189.0   55.0     1.0
2  2020-03-22  St. Louis city  Missouri  29510.0   14.0     0.0
3  2020-03-22         Unknown  Missouri      NaN    1.0     0.0
4  2020-03-22      Broadwater   Montana  30007.0    1.0     0.0

In [ ]:
response=athena_client.start_query_execution(
QueryString="SELECT * FROM nytimes_data_in_us_states",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
nytimes_data_in_us_states=download_and_load_query_results(athena_client,response)


# In[13]:


nytimes_data_in_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM rearc_covid19_testing_dataus_daily",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
rearc_covid19_testing_dataus_daily=download_and_load_query_results(athena_client,response)


# In[15]:


rearc_covid19_testing_dataus_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM rearc_covid19_testing_data_us_total_latest",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
rearc_covid19_testing_data_us_total_latest=download_and_load_query_results(athena_client,response)


# In[17]:


rearc_covid19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
rearc_usa_hospital_beds=download_and_load_query_results(athena_client,response)

In [ ]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,2026,Meeker County Memorial Hospital,Critical Access Hospital,612 S Sibley Ave,NaN,Litchfield,MN,55355,Meeker,Minnesota,...,35.0,25.0,4,4,0.0,0.318795,0.0,10,45.119098,-94.528802
1,2027,Mille Lacs Health System,Critical Access Hospital,200 Elm St N,NaN,Onamia,MN,56359,Mille Lacs,Minnesota,...,28.0,18.0,5,5,0.0,0.370167,0.0,10,46.073181,-93.662491
2,2028,M Health Fairview Northland Medical Center,Short Term Acute Care Hospital,911 Northland Dr,NaN,Princeton,MN,55371,Sherburne,Minnesota,...,54.0,34.0,4,4,0.0,0.351974,2.0,20,45.558437,-93.590102
3,2029,CHI St Gabriel Health (FKA St Gabriels Hospital),Critical Access Hospital,815 2nd St Se,NaN,Little Falls,MN,56345,Morrison,Minnesota,...,49.0,25.0,4,4,0.0,0.262732,2.0,24,45.967300,-94.362700
4,2030,Murray County Medical Center,Critical Access Hospital,2042 Juniper Ave,NaN,Slayton,MN,56172,Murray,Minnesota,...,25.0,21.0,3,3,0.0,0.164123,2.0,4,43.992305,-95.759840

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM static_datasets_countrycode",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
static_datasets_countrycode=download_and_load_query_results(athena_client,response)


# In[21]:


static_datasets_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM static_datasets_countypopulation",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
static_datasets_countypopulation=download_and_load_query_results(athena_client,response)


# In[23]:


static_datasets_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [ ]:

response=athena_client.start_query_execution(
QueryString="SELECT * FROM static_datasets_state_abv",
    QueryExecutionContext={"Database":schema_name},
    ResultConfiguration={
        "OutputLocation":s3_staging_dir,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)
static_datasets_state_abv=download_and_load_query_results(athena_client,response)


# In[25]:


static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [ ]:
dimRegion1=enigma_jhud[['fips','province_state','country_region','confirmed','longitude','latitude']]
dimRegion2=nytimes_data_in_us_county[['fips','county','state']]
dimRegion=pd.merge(dimRegion1,dimRegion2,on='fips',how='inner')


# In[30]:


dimRegion.head()

,fips,province_state,country_region,confirmed,longitude,latitude,county,state
0,NaN,Anhui,China,1.0,117.226,31.826,Unknown,Missouri
1,NaN,Anhui,China,1.0,117.226,31.826,Unknown,Nevada
2,NaN,Anhui,China,1.0,117.226,31.826,Unknown,New Jersey
3,NaN,Anhui,China,1.0,117.226,31.826,New York City,New York
4,NaN,Anhui,China,1.0,117.226,31.826,Unknown,Puerto Rico

In [ ]:
factCovid1=enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid2=rearc_covid19_testing_data_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid=pd.merge(factCovid1,factCovid2,on='fips',how='inner')


# In[27]:


factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [ ]:
dimDate=rearc_covid19_testing_data_states_daily[['fips','date']]


# In[32]:


dimDate.head()


# In[33]:


dimDate['date']=pd.to_datetime(dimDate['date'],format='%Y%m%d')


# In[34]:


dimDate.head()

<ipython-input-55-03d61a1aefec>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date']=pd.to_datetime(dimDate['date'],format='%Y%m%d')

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [ ]:
dimDate['year']=dimDate['date'].dt.year
dimDate['month']=dimDate['date'].dt.month
dimDate['day of week']=dimDate['date'].dt.dayofweek


# In[36]:


dimDate.head()

<ipython-input-56-c67e04b165c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year']=dimDate['date'].dt.year
<ipython-input-56-c67e04b165c4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month']=dimDate['date'].dt.month
<ipython-input-56-c67e04b165c4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day of week']=dimDate['date'].dt.dayofweek

   fips       date  year  month  day of week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [ ]:
dimHospital=rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hospital_name','hospital_type','hq_address','hq_city','hq_state']]


# In[38]:


dimHospital.head()

,fips,state_name,latitude,longtitude,hospital_name,hospital_type,hq_address,hq_city,hq_state
0,27093.0,Minnesota,45.119098,-94.528802,Meeker County Memorial Hospital,Critical Access Hospital,612 S Sibley Ave,Litchfield,MN
1,27095.0,Minnesota,46.073181,-93.662491,Mille Lacs Health System,Critical Access Hospital,200 Elm St N,Onamia,MN
2,27141.0,Minnesota,45.558437,-93.590102,M Health Fairview Northland Medical Center,Short Term Acute Care Hospital,911 Northland Dr,Princeton,MN
3,27097.0,Minnesota,45.967300,-94.362700,CHI St Gabriel Health (FKA St Gabriels Hospital),Critical Access Hospital,815 2nd St Se,Little Falls,MN
4,27101.0,Minnesota,43.992305,-95.759840,Murray County Medical Center,Critical Access Hospital,2042 Juniper Ave,Slayton,MN

In [ ]:
factCovid.to_csv('output.csv')

In [126]:
region_name = 'us-east-1'
aws_access_key_id = "AKIATCUJM2XSK4ZW2FWH"
aws_secret_access_key = "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"

s3_client=boto3.client(
  "s3", 
  region_name = region_name, 
  aws_access_key_id = aws_access_key_id,
  aws_secret_access_key= aws_secret_access_key, 
  )

In [ ]:
s3_client.list_buckets()

{'ResponseMetadata': {'RequestId': 'ZX15N0QFJ3PEGVBQ',
  'HostId': 'UtX1HxPQogVtQUBy32wPlDh3hZfB0DJ1MgIlHB6z4zmuiUXLVXq6brwOzYXd3+xArnLbjcP1Iv4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'UtX1HxPQogVtQUBy32wPlDh3hZfB0DJ1MgIlHB6z4zmuiUXLVXq6brwOzYXd3+xArnLbjcP1Iv4=',
   'x-amz-request-id': 'ZX15N0QFJ3PEGVBQ',
   'date': 'Thu, 22 Dec 2022 07:52:43 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'covid19-project-test',
   'CreationDate': datetime.datetime(2022, 12, 16, 7, 25, 52, tzinfo=tzlocal())},
  {'Name': 'sachin-test-bucket1',
   'CreationDate': datetime.datetime(2022, 12, 20, 12, 17, 35, tzinfo=tzlocal())},
  {'Name': 'vishal-covid-de-project',
   'CreationDate': datetime.datetime(2022, 12, 16, 6, 0, 48, tzinfo=tzlocal())}],
 'Owner': {'DisplayName': 'guptavishal9928',
  'ID': '024e9eff56d2c8f086c68b7b1488ac5a0c1dd022d1d02c4930795ecf84c9412e'}}

In [ ]:
s3_client.upload_file('output.csv','sachin-test-bucket1','output/factCovid.csv')

In [ ]:
dimRegion.to_csv('output.csv')
s3_client.upload_file('output.csv','sachin-test-bucket1','output/dimRegion.csv')

In [ ]:
dimDate.to_csv('output.csv')
s3_client.upload_file('output.csv','sachin-test-bucket1','output/dimDate.csv')

In [ ]:
dimHospital.to_csv('output.csv')
s3_client.upload_file('output.csv','sachin-test-bucket1','output/dimHospital.csv')

In [125]:
conn = redshift_connector.connect(
     host='redshift-cluster-1.cwu5etixyimg.ap-south-1.redshift.amazonaws.com',
     database='dev',
     user='awsuser',
     password='Password321'
  )

In [ ]:
conn.autocommit=True

In [ ]:
cursor=redshift_connector.Cursor=conn.cursor()

In [ ]:
dimDatesql=pd.io.sql.get_schema(dimDate.reset_index(),"dimDate")
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day of week" INTEGER
)

<ipython-input-69-0ddfe8d7300c>:1: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dimDatesql=pd.io.sql.get_schema(dimDate.reset_index(),"dimDate")

In [ ]:
dimHospitalsql=pd.io.sql.get_schema(dimHospital.reset_index(),"dimHospital")
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [ ]:
dimfactCovidsql=pd.io.sql.get_schema(factCovid.reset_index(),"factCovid")
print(''.join(dimfactCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [ ]:
dimRegionsql=pd.io.sql.get_schema(dimRegion.reset_index(),"dimRegion")
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "longitude" REAL,
  "latitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [138]:
cursor.execute(
    """ CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT)
    """
)

cursor.execute(
    """CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
    """
)

cursor.execute(
    """CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "longitude" REAL,
  "latitude" REAL,
  "county" TEXT,
  "state" TEXT
)
    """
)

In [131]:
cursor.execute(
    """CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day of week" INTEGER
)
    """
)

In [136]:
cursor.execute("""
copy dimDate from 's3://sachin-test-bucket1/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::211815290340:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [139]:
cursor.execute("""
copy dimHospital from 's3://sachin-test-bucket1/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::211815290340:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [140]:
cursor.execute("""
copy dimRegion from 's3://sachin-test-bucket1/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::211815290340:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [141]:
cursor.execute("""
copy factCovid from 's3://sachin-test-bucket1/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::211815290340:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")